{% extends 'base.html'%}
{% block content %}
{% include 'title.html' %}
{% include 'main.html' %}
<div class="container">
    <div class="row">
        {% for library  in page_obj%}
        <div class="col">
            <div class="card" style="width: 20rem; height: 430px;">
                <img src="{{library.image.url}}" class="card-img-top" alt="{{library.image.url}}" style="width: 319px; height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">{{library.name}}</h5>
                    <p class="card-text" style="height: 80px;">{{ library.description|slice:":90"|add:"..." }}{% if labrary.description|length > 30 %}...{% endif %}</p>
                    <a href="{% url 'detail' library.id %}" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        {% empty %}
    <p class="text-center display-6">Sorry, no libraries in this list.</p>

        {% endfor %}
    </div>
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&lt;&lt;</a>
        {% endif %}
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">&gt;&gt;</a>
        {% endif %}
    </div>
    
</div>
{% endblock %}